/*
Display how much is donated out of the goal.

Note on currency format in different countries: https://docs.oracle.com/cd/E19455-01/806-0169/overview-9/index.html

## BEM
<pre>
BLOCK f-progress
MODIFIER f-progress_small
MODIFIER f-progress_vertical
	ELEMENT f-progress__bar
		ELEMENT f-progress__value
	ELEMENT f-progress__data
	ELEMENT f-progress__data-element
</pre>

## Example default
```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->

	<!-- this should be used on the website -->
	
	<section class="f-progress" data-value="38">
		<div class="f-progress__bar">
			<div style="width: 38%;" class="f-progress__value"></div>
		</div>
		<div class="f-progress__data">
			<p class="f-progress__data-element">
				<span>38%</span> of $50,000
			</p>
			<p class="f-progress__data-element">
				<span>$14,928</span> reached in total
			</p>
			<p class="f-progress__data-element">
				<span>22</span> days to go
			</p>
			
		</div>
	</section>

	<!-- this should be used on the website -->

</div>
```

## Example vertical
```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->

	<!-- this should be used on the website -->
	
	<section class="f-progress f-progress_vertical" data-value="38">
		<div class="f-progress__bar">
			<div style="width: 38%;" class="f-progress__value"></div>
		</div>
		<div class="f-progress__data">
			<p class="f-progress__data-element">
				<span>38%</span> of $50,000
			</p>
			<p class="f-progress__data-element">
				<span>$14,928</span> reached in total
			</p>
			<p class="f-progress__data-element">
				<span>22</span> days to go
			</p>
		</div>
	</section>

	<!-- this should be used on the website -->

</div>
```

*/

@import "../variables";

.f-progress {
	width: 100%;
  	margin-bottom: 2.2rem;
	padding-top: 1.4rem;
}

/*TODO: this modifier is in affect on f-project-thumbnail */
.f-progress_small {
}

.f-progress__bar, .f-progress__value {
	height: 1rem;
}

.f-progress__bar {
	margin-bottom: 1.8rem;

	background-color: var(--color-black);
}

.f-progress__value {
	max-width: 100%;

	background-color: var(--color-red);

	transition: width 1s ease 260ms;
	will-change: width;
}

.f-progress__data {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	font-size: 1.6rem;
}
.f-progress_vertical .f-progress__data {
	flex-direction: column;
}

.f-progress__data-element {
	margin: 0;

  	color: var(--color-grey);
  	font-weight: normal;
  	line-height: 2.2rem;
}
.f-progress__data-element span {
  	color: var(--color-grey-dark);
  	font-weight: bold;
}
