/*
Placeholder for the `f-progress` Web Component. Used as a placeholder while `f-progress` loads.

## Example default
```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->

	<!-- this should be used on the website -->
	
	<div class="f-progress__wrapper">
		<f-progress name="shelter" goal="432432" days="7" total="32212" symbol="€"></f-progress>
	</div>

	<!-- this should be used on the website -->

</div>
```

## Example vertical
```
<div class="kalei-background-white"> <!-- only here for the style guide - should not be used on the website -->

	<!-- this should be used on the website -->
	
	<div class="f-progress__wrapper-vertical">
		<f-progress name="shelter" modifier="vertical" goal="432432" days="7" total="32212" symbol="€"></f-progress>
	</div>

	<!-- this should be used on the website -->

</div>
```

## Example small

Don't need a wrapper.

## Example flyout
```
<div class="kalei-background-white" style="height:6.4rem;transform:translateY(6.4rem);"> <!-- only here for the style guide - should not be used on the website -->

	<!-- this should be used on the website -->
	
	<div class="f-progress__wrapper-flyout">
		<f-progress name="kobane" modifier="flyout" goal="130000" days="2" total="149280" symbol="€"></f-progress>
	</div>

	<!-- this should be used on the website -->

</div>

```
*/

.f-progress__wrapper, .f-progress__wrapper-vertical, .f-progress__wrapper-flyout {
	position: relative; /* KLUDGE: make sure f-progress can not move sibling elements at all */

	opacity: 0;
	transition: opacity 250ms ease 500ms;
}

.f-progress__wrapper > *, .f-progress__wrapper-vertical > *, .f-progress__wrapper-flyout > * {
	position: absolute; /* KLUDGE: make sure f-progress can not move sibling elements at all */
}

.f-progress__wrapper {
	height: 8.6rem;
}

.f-progress__wrapper-vertical {
	height: 13rem;
}

.f-progress__wrapper-flyout {
	height: 4.6rem;
}