<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>about:team</title>
	<link rel="stylesheet" href="css/bundle.css">
	<!-- 1. Async HTML Imports do not block rending. Benefit of keeping it declarative
       (instead of dynamically loading it later in JS) is that the parser can go
       to town pre-fetching resources, etc. -->
	<!-- TODO: change this to whatever WC you need <link rel="import" class="f-import" href="wc/header.htm" async>-->
</head>
<body>

	<header class="f-navigation">
		<div class="f-row f-row_12">
			<div class="f-row__cell-4 f-row__cell-mobile-5">
				<a href="/frontpage"><h2 class="f-branding">Fire<span>fund</span></h2></a>
			</div>
			<nav class="f-row__cell-8 f-row__cell-mobile-7">
				<div class="f-row f-row_12">
					<div class="f-row__cell-3 f-row__cell_push_6 f-row__not-mobile">
						<a href="/howdoesitwork" class="f-navigation__link">How it works</a>
					</div>
					<div class="f-row__not-desktop f-row__cell-mobile_push_6 f-row__cell-mobile-2">
						<a href="/howdoesitwork" class="f-navigation__link">How</a>
					</div>
					<div class="f-row__cell-3 f-row__cell-mobile-3">
						<a href="/about-us" class="f-navigation__link">About</a>
					</div>
				</nav>
			</div>
		</div>
	</header>

	<article class="f-content">

		<h1 class="f-left-heading f-left-heading_big">About us</h1>

		<div class="f-spacer"></div>

		<section class="f-button-group">
			<div class="f-column f-column_3 f-column_mobile_2">
				<button class="f-button-group__button">Terms</button>
				<button class="f-button-group__button">Blog</button>
				<button class="f-button-group__button">Manifesto</button>
				<button class="f-button-group__button">Contact</button>
				<button class="f-button-group__button">Who we are</button>
				<button class="f-button-group__button">Dank memes</button>
			</div>
		</section>

		<section class="f-team-cards">
			<div class="f-column f-column_3 f-column_mobile_2">
				<div class="f-team-member">
					<img class="f-team-member__image" src="assets/image/estherchild.jpg">
					<div class="f-team-member__card">
						<h2 class="f-team-member__heading">Esther K</h2>
						<p class="f-team-member__subheading">Board member</p>
						<hr class="f-team-member__byline">
						<p class="f-team-member__text">
							This is Esther. She is a good activist. she does lots of stuff
							drink beer, smoke weed, fuck shit up and kick nazi butt. She did
							a lot of work for student unions, both on high school level and university.
							she used to be a social democrat (but we don'te talk a lot about that')
							but is now in a really healthy transition of becomming a militant anarchist,
							so watch out cops - you about to get fucked!
						</p>
					</div>
				</div>
				<div class="f-team-member">
					<img class="f-team-member__image" src="assets/image/team3.jpg">
					<div class="f-team-member__card">
						<h2 class="f-team-member__heading">gdnjdni K</h2>
						<p class="f-team-member__subheading">Board member</p>
						<hr class="f-team-member__byline">
						<p class="f-team-member__text">
							Peter is living in Copenhagen, devoting lots of his time to understand how capitalism and fascism are related in order to overthrow both. Being all about complex stuff, Peter likes to crunch numbers, destroy and rebuild all sorts of ideas on how Firefund can work its magic the best. On a more casual note, listen to highly lyrical hip hop.
						</p>
					</div>
				</div>
				<div class="f-team-member">
					<img class="f-team-member__image" src="assets/image/signechild.jpg">
					<div class="f-team-member__card">
						<h2 class="f-team-member__heading">Esther K</h2>
						<p class="f-team-member__subheading">Board member</p>
						<hr class="f-team-member__byline">
						<p class="f-team-member__text">
							This is Esther. She is a good activist. she does lots of stuff
							drink beer, smoke weed, fuck shit up and kick nazi butt. She did
							a lot of work for student unions, both on high school level and university.
							she used to be a social democrat (but we don'te talk a lot about that')
							but is now in a really healthy transition of becomming a militant anarchist,
							so watch out cops - you about to get fucked!
						</p>
					</div>
				</div>
				<div class="f-team-member">
					<img class="f-team-member__image" src="assets/image/estherchild.jpg">
					<div class="f-team-member__card">
						<h2 class="f-team-member__heading">Esther K</h2>
						<p class="f-team-member__subheading">Board member</p>
						<hr class="f-team-member__byline">
						<p class="f-team-member__text">
							This is Esther. She is a good activist. she does lots of stuff
							drink beer, smoke weed, fuck shit up and kick nazi butt. She did
							a lot of work for student unions, both on high school level and university.
							she used to be a social democrat (but we don'te talk a lot about that')
							but is now in a really healthy transition of becomming a militant anarchist,
							so watch out cops - you about to get fucked!
						</p>
					</div>
				</div>
				<div class="f-team-member">
					<img class="f-team-member__image" src="assets/image/team2.jpg">
					<div class="f-team-member__card">
					<h2 class="f-team-member__heading">Esther K</h2>
						<hr class="f-team-member__byline">
						<p class="f-team-member__text">
							Mikkel is a 24 year old university drop-out, from the countryside of Denmark.
							 He is the chairman of the FAKKEL board and co-founder of Firefund. 
							 Has a political background in the Anarchist movement of Copenhagen and 
							 different variations of international solidarity. Mikkel is also a huge 
							 Tailor Swift fan.  
						</p>
				</div>
				</div>
				<div class="f-team-member">
					<img class="f-team-member__image" src="assets/image/estherchild.jpg">
					<div class="f-team-member__card">
						<h2 class="f-team-member__heading">Esther K</h2>
						<p class="f-team-member__subheading">Board member</p>
						<hr class="f-team-member__byline">
						<p class="f-team-member__text">
							This is Esther. She is a good activist. she does lots of stuff
							drink beer, smoke weed, fuck shit up and kick nazi butt. She did
							a lot of work for student unions, both on high school level and university.
							she used to be a social democrat (but we don'te talk a lot about that')
							but is now in a really healthy transition of becomming a militant anarchist,
							so watch out cops - you about to get fucked!
						</p>
					</div>
				</div>
			</div>
		</section>


	</article>

	<div class="f-spacer"></div>

	<footer class="f-footer">
		<div class="f-row f-row_12">
			<div class="f-row__cell-4">
				<div class="f-footer-sitemap">
					<h2 class="f-branding f-sitemap__branding f-sitemap__links">
						<a href="/">Fire<span>fund</span></a>
					</h2>
					<ul class="f-sitemap__links">
						<li><a href="/about-us">About us</a></li>
						<li><a href="https://medium.com/@firefundnet/">Blog ></a></li>
						<li><a href="/about-terms">Terms</a></li>
						<li><a href="/about-contact">Contact</a></li>
						<li><a href="/about-manifesto">Manifesto</a></li>
						<li><a href="/about-team">Team</a></li>
						<li><a href="/about-us">Who we are</a></li>
						<li><a href="/howdoesitwork">How does it work</a></li>
						<div class="f-spacer"></div>
					</ul>
				</div>
			</div>
			<div class="f-row__cell-4 f-row__cell-mobile-6 f-row__cell-mobile_push_1">
				<p class="f-footer-text">
					FIRE<span>FUND</span> is a crowdfunding platform working to finance and organize <br> social change from the bottom.
				</p>
				<div class="f-footer-signup">
					<form class="f-signup">
						<label class="f-signup__label">Sign up for news:
								<input class="f-signup__input" type="email" placeholder="mail@radical.rev" required>
							</label>
						<button class="f-signup__button">Submit</button>
					</form>
				</div>
				<div class="f-row__cell-mobile-10 f-row__cell_push_2 f-row__not-desktop">
					<ul class="f-footer-icons f-icon-list f-icon-list_horizontal">
						<li>
							<a class="f-icon-list__icon f-icon-reddit" title="Checkout our reddit!" href="http://www.reddit.com/r/firefund"></a>
						</li>
						<li>
							<a class="f-icon-list__icon f-icon-twitter" title="Checkout our twitter!" href="https://twitter.com/firefundnet"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="f-row__cell-2 f-row__cell_push_2 f-row__not-mobile">
				<ul class="f-footer-icons f-icon-list">
					<li>
						<a class="f-icon-list__icon f-icon-reddit" title="Checkout our reddit!" href="http://www.reddit.com/r/firefund"></a>
					</li>
					<li>
						<a class="f-icon-list__icon f-icon-twitter" title="Checkout our twitter!" href="https://twitter.com/firefundnet"></a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /f-row -->
	</footer>
	<script src="js/loader.js" charset="utf8" async></script>
	<script src="lib/jquery.js" charset="utf8" async></script>
	<script src="lib/underscore.js" charset="utf8" async></script>
	<script>
		document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':10421/livereload.js?snipver=1"></' + 'script>')
	</script>
</body>

</html>