<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Index</title>
	<link rel="stylesheet" href="css/bundle.css">
	<!-- 1. Async HTML Imports do not block rending. Benefit of keeping it declarative
       (instead of dynamically loading it later in JS) is that the parser can go
       to town pre-fetching resources, etc. -->
	<link rel="import" class="f-import" href="wc/progress.htm" async>
</head>

<body>
	<header class="f-navigation">
		<div class="f-row f-row_12">
			<div class="f-row__cell-3 f-row__cell-mobile-4">
				<a href="/frontpage.htm"><h2 class="f-branding">Fire<span>fund</span></h2></a>
			</div>
			<nav class="f-row__cell-8 f-row__cell-mobile-7">
				<div class="f-row f-row_12">
					<div class="f-row__not-desktop f-row__cell-mobile_push_6 f-row__cell-mobile-2">
						<a href="/howdoesitwork.htm" class="f-navigation__link">How</a>
					</div>
					<div class="f-row__cell-1 f-row__cell-mobile-3 f-row__cell_push_10">
						<a href="/about.htm" class="f-navigation__link">About</a>
					</div>
				</nav>
			</div>
		</div>
	</header>

	<div class="f-hero f-hero_big">
		<div class="f-hero__wrapper">
			<div class="f-row f-row_6">

				<div class="f-row__cell f-row_not-mobile">
					<div class="f-hero__heading">
						<h1>We organize</h1><h1 class="element"></h1>
					</div>
				</div>

				<div class="f-row__cell f-row_not-desktop">
					<div class="f-hero__heading_mobile">
						<h1>We organize</h1><h1 class="element"></h1>
					</div>
				</div>



			</div>
		</div>
	</div>

	<div class="f-white-card">

		<div class="f-row f-row_6">
			<div class="f-row__cell-4 f-row__cell_push_1 f-row__cell-mobile">
				<p class="f-one-liner_center">
				We're a team of 15 activists from Denmark, Sweden, Italy, Spain, Greece and California - but we want to be hundreds. We educate new real acitivsts and delegate leadership.
				</p>
				<br>
			</div>
			<div class="f-row__cell-2 f-row__cell_push_2 f-row__cell-mobile_push_2 f-row__cell-mobile-2">
				<a class="f-button-organize" href="/howdoesitwork.htm">How it works</a>
			</div>
		</div>
	</div>

	<footer class="f-footer">
		<div class="f-row f-row_12">
			<div class="f-row__cell-4">
				<div class="f-footer-sitemap">
					<h2 class="f-branding f-sitemap__branding f-sitemap__links">
						<a href="/">Fire<span>fund</span></a>
					</h2>
					<ul class="f-sitemap__links">
						<li><a href="/about-us.htm">About us</a></li>
						<li><a href="https://medium.com/@firefundnet/">Blog ></a></li>
						<li><a href="/about-terms.htm">Terms</a></li>
						<li><a href="/about-contact.htm">Contact</a></li>
						<li><a href="/about-manifesto.htm">Manifesto</a></li>
						<li><a href="/about-team.htm">Team</a></li>
						<li><a href="/about-us.htm">Who we are</a></li>
						<li><a href="/howdoesitwork.htm">How does it work</a></li>
						<div class="f-spacer"></div>
					</ul>
				</div>
			</div>
			<div class="f-row__cell-4 f-row__cell-mobile-6 f-row__cell-mobile_push_1">
				<p class="f-footer-text">
					FIRE<span>FUND</span> is a crowdfunding platform working to finance and organize <br> social change from the bottom.
				</p>
				<div class="f-footer-signup">
					<form class="f-signup">
						<label class="f-signup__label">Sign up for news:
								<input class="f-signup__input" type="email" placeholder="mail@radical.rev" required>
							</label>
						<button class="f-signup__button">Submit</button>
					</form>
				</div>
				<div class="f-row__cell-mobile-10 f-row__cell_push_2 f-row__not-desktop">
					<ul class="f-footer-icons f-icon-list f-icon-list_horizontal">
						<li>
							<a class="f-icon-list__icon f-icon-reddit" title="Checkout our reddit!" href="http://www.reddit.com/r/firefund"></a>
						</li>
						<li>
							<a class="f-icon-list__icon f-icon-twitter" title="Checkout our twitter!" href="https://twitter.com/firefundnet"></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="f-row__cell-2 f-row__cell_push_2 f-row__not-mobile">
				<ul class="f-footer-icons f-icon-list">
					<li>
						<a class="f-icon-list__icon f-icon-reddit" title="Checkout our reddit!" href="http://www.reddit.com/r/firefund"></a>
					</li>
					<li>
						<a class="f-icon-list__icon f-icon-twitter" title="Checkout our twitter!" href="https://twitter.com/firefundnet"></a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /f-row -->
	</footer>

	<script src="js/loader.js" charset="utf8" async></script>
	<script src="lib/jquery.js" charset="utf8" async></script>
	<script src="lib/underscore.js" charset="utf8" async></script>
	<script>
		document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':10421/livereload.js?snipver=1"></' + 'script>')
	</script>

	<script>
		$(function(){
			$(".element").typed({
				strings: ["solidarity", "crowdfunding", "mutual aid", "direct action"],
				// typing speed
				typeSpeed: 0,
				// time before typing starts
				startDelay: 1000,
				// backspacing speed
				backSpeed: 0,
				// time before backspacing
				backDelay: 2000,
				// loop
				loop: true,
				// false = infinite
				loopCount: false,
				// show cursor
				showCursor: false,
				// character for cursor
				cursorChar: ".",
				// attribute to type (null == text)
				attr: null,
				// either html or text
				contentType: 'html',
				// call when done callback function
				callback: function() {},
				// starting callback function before each string
				preStringTyped: function() {},
				//callback for every typed string
				onStringTyped: function() {},
				// callback for reset
				resetCallback: function() {}
			});
		});
	</script>
	<script src="lib/typed.js" charset="utf8" async></script>

</body>

</html>