/* logo font */
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:  local('Roboto Bold'),
        local('Roboto-Bold'),
        url(/assets/fonts/Roboto-Bold.woff2) format('woff2'),
        url(/assets/fonts/Roboto-Bold.woff) format('woff'),
        url(/assets/fonts/Roboto-Bold.ttf) format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), 
       local('Roboto-Bold'), 
       url(/assets/fonts/Roboto-Bold.woff2) format('woff2'),
       url(/assets/fonts/Roboto-Bold.woff) format('woff'),
       url(/assets/fonts/Roboto-Bold.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* the rest */
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:  local('Roboto Light'), 
        local('Roboto-Light'), 
        url(/assets/fonts/Roboto-Light.woff2) format('woff2'),
        url(/assets/fonts/Roboto-Light.woff) format('woff'),
        url(/assets/fonts/Roboto-Light.ttf) format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src:  local('Roboto Light'), 
        local('Roboto-Light'), 
        url(/assets/fonts/Roboto-Light.woff2) format('woff2'),
        url(/assets/fonts/Roboto-Light.woff) format('woff'),
        url(/assets/fonts/Roboto-Light.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  local('Roboto'), 
        local('Roboto-Regular'), 
        url(/assets/fonts/Roboto-Regular.woff2) format('woff2'),
        url(/assets/fonts/Roboto-Regular.woff) format('woff'),
        url(/assets/fonts/Roboto-Regular.ttf) format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:  local('Roboto'), 
        local('Roboto-Regular'), 
        url(/assets/fonts/Roboto-Regular.woff2) format('woff2'),
        url(/assets/fonts/Roboto-Regular.woff) format('woff'),
        url(/assets/fonts/Roboto-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src:  local('Roboto Light Italic'), 
        local('Roboto-LightItalic'), 
        url(/assets/fonts/roboto-lightitalic-webfont.woff2) format('woff2'),
        url(/assets/fonts/roboto-lightitalic-webfont.woff) format('woff'),
        url(/assets/fonts/roboto-lightitalic-webfont.ttf) format('truetype');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src:  local('Roboto Light Italic'), 
        local('Roboto-LightItalic'), 
        url(/assets/fonts/roboto-lightitalic-webfont.woff2) format('woff2'),
        url(/assets/fonts/roboto-lightitalic-webfont.woff) format('woff'),
        url(/assets/fonts/roboto-lightitalic.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}